.Head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 460px;
}

.status {
  text-align: center;
  margin-right: 20px;
}

.actualstatus {
  border: 10px solid rgb(112, 245, 112);
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: border 0.3s ease;
}

.actualstatus.eating {
  animation: greenPulse 2s infinite;
}

.actualstatus img {
  width: 100px;
}

@keyframes greenPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(112, 245, 112, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 20px rgba(112, 245, 112, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(112, 245, 112, 0);
  }
}


.card{
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 3px solid black;
  margin: auto;
  text-align: center;
  border-radius: 30px;
}

.card-image{
  width: 500px;
  border-radius: 30px;
  object-fit: contain;
  margin: auto;
}